<p>
  <%= t("user_mailer.recovery.title") %>
</p>

<p>
  <%= t("user_mailer.recovery.body1") %>
</p>

<p>
  <%= t("user_mailer.recovery.body2") %>
  <a href="<%= @reset_url %>">
    <%= @reset_url %>
  </a>.
</p>
